@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Trykker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yrsa:wght@300&display=swap');

*{
    box-sizing: border-box;

}

body{
    margin: auto;
    height: auto;
    background-color: rgb(236, 232, 232);
}

nav{
    margin-left: 20px;
}

nav a{
    text-decoration: none;
    color: black;
}

.menu{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    text-align: center;
    transition-duration: 0.4s;
}

.isi-heading{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
}

#theTitle{
    margin: 10px 150px 10px 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Overlock', cursive;
}

.Heading{
    padding-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.699);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.menu:hover{
    color: rgb(159, 158, 158);
}

.search-box-parent{
    display: grid;
    place-items: center;
    padding-top: 100px;
}

.search-box input{
    height: 30px;
    width: 400px;
    border-radius: 7px ;
    border: 1px solid black;
}

.search-btn{
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: rgb(236, 232, 232);
}

.search-btn:hover{
    background-color: white;
}

.found-box{
    padding: 10px;
}

.found-item{
    width: 380px;
    font-family: 'Montserrat', sans-serif;
}

#found-text{
    text-decoration: none;
    color: black;
}

.Rakit-Box{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 170px;
    width: 50vw;
    margin-left: 25vw;
    border-radius: 10px;
}


.text-promosi{
    text-align: right;
    color: black;
    text-decoration: none;
}

.Promote{
    font-family: 'Ovo', serif;
    padding-top: 240px;
    padding-right: 30px;
}

.Rakit{
    text-decoration: none;
    color: black;
    transition-duration: 0.4s;
}

#user-icon{
    margin-left: 100px;
}

.Rakit:hover{
    color: rgb(159, 158, 158);
}

.new{
    display: inline-block;
}

#whats-new{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 30px 0px 70px 0px;
}

.whats-new-parent{
    margin-top: 200px;
}

.new-box{
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    display: inline-block;

    width: 30vw;
    font-family: 'Yrsa', serif;
}

.whats-new-parent{

    font-family: 'Montserrat', sans-serif;
    background-color: rgb(216, 210, 210);
    display: grid;
    place-items: center;
    padding-bottom: 50px;
}

.img-box-new{
    width: 100px;
    height: 100px;
}

.box1{
    float: left;
}

.box-text{
    padding-left: 30px;
}

